#st { margin-top:20px;margin-left:100px;}
#tw { margin-top:30px;margin-left:100px;}
#er { margin-top:30px;margin-left:100px;}
#re { margin-left:100px;margin-top:30px;}
#b1 { margin-left:100px;margin-top:20px;}
#host { margin-left:28px;}
#inp { margin-left:30px;}
#colortext { color:red;}
